<!DOCTYPE html>
<html>
<head>
  <title>Fraction Addition Quiz</title>

</head>
<body>
  <div>
    <!-- <h2>Fraction Addition Quiz</h2> -->
    <p>Using a calculator, or otherwise calculate</p>
    <p> <span id="fraction1">1/4</span> + <span id="fraction2">3/8</span>?</p>
    <ul>
      <li><input type="radio" name="answer" value="a"> <span id="option1">5/8</span></li>
      <li><input type="radio" name="answer" value="b"> <span id="option2">1/2</span></li>
      <li><input type="radio" name="answer" value="c"> <span id="option3">7/8</span></li>
      <li><input type="radio" name="answer" value="d"> <span id="option4">2/3</span></li>
    </ul>
  </div>
  <div>
    <button class="button button-blue">View Solution</button>
    <button class="button button-green">Check</button>
    <button class="button button-blue button-right">Next Question</button>
  </div>
</body>
</html>
